<style>
.row {
  display: flex;
  align-items: center;
}

.button-left {
  position: relative;
  left: 20px;
}

.chevron-left {
  width: 2rem;
  height: 2rem;
  transform: rotate(180deg);
}

.button-right {
  position: relative;
  right: 20px;
}

.chevron-right {
  width: 2rem;
  height: 2rem;
}

.images-container {
  display: flex;
  overflow: hidden;
  width: 960px;
  margin: 0 2rem;
}

::slotted(img) {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;

}

</style>
<div>
  <div class="row">
    <div class="button-left">
      <svg class="chevron-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <g fill="none">
          <path d="M8 4l8 8l-8 8" stroke="#f8f8f8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </g>
      </svg>
    </div>
    <div class="images-container">
      <slot name="images"></slot>
    </div>
    <div class="button-right">
      <svg class="chevron-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
        width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <g fill="none">
          <path d="M8 4l8 8l-8 8" stroke="#f8f8f8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </g>
      </svg>
    </div>
  </div>
  <div class="ellipses">
  </div>
</div>