<style>
  * {
    box-sizing: border-box;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    background-color: transparent;
    border: none;
    width: min-content;
  }

  .button-left {
    margin-right: 0.5rem;
  }

  .chevron-left {
    width: 2rem;
    height: 2rem;
    transform: rotate(180deg);
  }

  .button-right {
    margin-left: 0.5rem;
  }

  .chevron-right {
    width: 2rem;
    height: 2rem;
  }

  .images-container {
    overflow: hidden;
    width: calc(960px - 4rem);
  }

  .slide {
    display: flex;
    width: 100%;
  }

  ::slotted(img) {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;

  }

  .circles {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
    margin-right: 0.5rem;
  }
  .active-circle {
    opacity: 1;
  }
</style>
<div class="container">
  <div class="row">
    <button class="button-left">
      <svg class="chevron-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <g fill="none">
          <path d="M8 4l8 8l-8 8" stroke="#f8f8f8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </g>
      </svg>
    </button>
    <div class="images-container">
      <div class="slide">
        <slot name="images"></slot>
      </div>
    </div>
    <button class="button-right">
      <svg class="chevron-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <g fill="none">
          <path d="M8 4l8 8l-8 8" stroke="#f8f8f8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </g>
      </svg>
    </button>
  </div>

</div>