<style>
.row {
  display: flex;
}

.chevron-left {
  transform: rotate(180deg);
}

.images-container {
  display: flex;
  overflow: hidden;
}

::slotted(img) {
  width: 100%;
  object-fit: contain;

}

</style>
<div>
  <div class="row">
    <svg class="chevron-left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
      width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
      <g fill="none">
        <path d="M8 4l8 8l-8 8" stroke="#f8f8f8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </g>
    </svg>
    <div class="images-container">
      <slot name="images"></slot>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
      width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
      <g fill="none">
        <path d="M8 4l8 8l-8 8" stroke="#f8f8f8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </g>
    </svg>
  </div>
  <div class="ellipses">
  </div>
</div>