<style>
nav {
  margin: 2rem auto;
  padding: 0 2rem;
  max-width: 960px;
  display: flex;
  align-items: baseline;
}
a {
  text-decoration: none;
  color: #f6f4f3ff;
}
h1 {
  margin: 0;
  padding: 0;
}
ul {
  margin-left: auto;
  list-style: none;
  display: flex;
}

li:not(:last-child) {
  padding-right: 2rem;
}

</style>
<nav>
  <a href="/index.html">
    <h1>Neil Marcellini</h1>
  </a>
  <ul>
    <li>
      <a href="/pages/about.html">About</a>
    </li>
    <li>
      <a href="/pages/resume.html">Resumé</a>
    </li>
    <li>
      <a href="/pages/contact.html">Contact</a>
    </li>
  </ul>

</nav>