.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.col-left {
  width: 20rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
}

.col-right {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.col-left > p {
  margin-bottom: 2rem;
}

