:root {
  /* colors */
  --raisin-black: #1f1f24ff;
  --cultured: #f6f4f3ff;
  --celtic-blue: #276fbfff;
  --darker-blue: rgb(1, 89, 204);
  --red-salsa: #f03a47ff;
  --redwood: #af5b5bff;
}

/* 
Resets:
*/

* {
  box-sizing: border-box;
}

/* hide everything before page loads */
html {
  visibility: hidden;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background-color: var(--raisin-black);
  color: var(--cultured);
  font-family: 'Lato';
}

img, video, canvas, audio, iframe, embed, object  { 
  display: block; /* Switch display mode to block, since that's what we usually want for images. */
}

button {
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

/* 
Custom global styles
*/

main {
  padding-bottom: 9rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.hover-pop {
  text-decoration: none;
  color: #f6f4f3ff;
}

.hover-pop:hover, .hover-pop:active {
  transform: scale(1.1);
  transition: transform ease-in-out;
}

.primary-button {
  background-color: var(--celtic-blue);
  padding: 0.75rem 1rem;
  width: min-content;
  height: auto;
  border-radius: 500px;
  font-weight: bold;
  color: var(--cultured);
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}

.primary-button:hover {
  background-color: var(--darker-blue)
}

.primary-button:active {
  transform: scale(0.9);
  transition: transform 0.1s ease-in;
}

.full-height {
  min-height: 100vh;
}