.hidden-mobile {
  display: initial;
}

.hidden-desktop {
  display: none;
}

@media screen and (max-width: 600px) {
  .hidden-mobile {
    display: none;
  }

  .hidden-desktop {
    display: initial;
  }
}

.container > p {
  max-width: 60ch;
  line-height: 1.6;
  font-size: 18px;
}

.achievements {
  max-width: 40rem;
}

.achievement {
  display: flex;
  align-items: flex-start;
  /* background-color: #3A3A3A; */
  width: max-content;
  max-width: 100%;
  height: min-content;
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.achievement > p {
  margin: 0;
  margin-top: 0.5rem;
  max-width: 40ch;
}

.achievement > .iconify {
  color: var(--celtic-blue);
  flex-shrink: 0;
  margin-right: 1rem;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
}

.tech-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.tech-photo {
  height: 80px;
}

.app-buttons {
  display: flex;
  gap: 1rem
}

.primary-button {
  padding-inline: 2rem;
}

.view-source {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: var(--celtic-blue);
  background-color: var(--cultured);
  border-radius: 500px;
  width: min-content;
  white-space: nowrap;
}

.view-source > .iconify {
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.view-source:active, .view-source:hover {
  background-color: #c5c5c5;
}

.swift {
  color: #f05035;
}

.swiftui {
  color: #006ab9;
}
